:root {
    --color-1: #e37b40;
    --color-2: #46b29d;
    --color-3: #de5b49;
    --color-4: #324d5c;
    --color-5: #f0ca4d;

    --track-height: 100%;
    --track-width: 2px;
    --track-color: white;
}

*::before,
*:after,
* {
    box-sizing: border-box;
}

body {
    background: var(--color-4);
    font-family: "Open Sans", sans-serif;
    color: var(--color-5);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Luckiest Guy", cursive;
}

a {
    color: var(--color-4);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input[type="range"].slider-track {
    opacity: 1;
}

hr {
    border: none;
    border-bottom: 1px groove var(--color-1);
}

#app {
    width: 900px;
    margin: 0 auto;
}

.display-favorites-photos-panel {
    float: left;
    cursor: pointer;
}

.display-favorites-photos {
    font-size: 13px;
    height: 26px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    vertical-align: top;
    outline: none;
}

.display-favorites-photos.active {
    background: var(--color-3);
    color: white;
}

#search {
    text-align: right;
    margin: 10px 0;
}

#search input[type="text"] {
    font-size: 16px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

#search input[type="submit"] {
    font-size: 13px;
    height: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    background: var(--color-1);
    color: white;
    font-family: "Open Sans", sans-serif;
}

#search input[type="submit"]:hover {
    background: var(--color-3);
}

#search .hint {
    font-size: 13px;
    margin: 2px 0;
    color: var(--color-2);
}

#gallery {
    width: 225px;
}

#gallery img {
    border: 5px solid var(--color-1);
    cursor: pointer;
}

#magnifier {
    position: relative;
}

#magnifier figure {
    margin: 0;
    text-align: center;
}

#magnifier img {
    border: 5px solid var(--color-3);
    background: white url("../images/azure-round-loader.gif") no-repeat center
        center;
    width: 650px;
    height: 400px;
}

#magnifier .author {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 0 0 5px;
    padding: 5px;
}

#magnifier .tags {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 5px 0 0;
    padding: 5px;
}

#magnifier .tags:empty {
    display: none;
}

#magnifier .like {
    background: none;
    border: none;
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 330px;
    outline: none;
    cursor: pointer;
}

#magnifier .like.yes {
    color: red;
}

#magnifier figcaption {
    height: 50px;
}

#main {
    display: flex;
    justify-content: space-between;
}

.slider-before-after {
    margin: 20px 0;
}

#footer {
    background: var(--color-2);
    color: white;
    font-weight: 200;
    padding: 10px;
    text-align: center;
}
