:root {
    --color-1: #E37B40;
    --color-2: #46B29D;
    --color-3: #DE5B49;
    --color-4: #324D5C;
    --color-5: #F0CA4D;
}

*::before,
*:after,
* {
    box-sizing: border-box;
}

body {
    background: var(--color-4);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-5);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Luckiest Guy', cursive;
}

a {
    color: var(--color-4);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#app {
    width: 900px;
    margin: 0 auto;
}

#gallery {
    width: 225px;
}

#gallery img {
    border: 5px solid var(--color-1);
    cursor: pointer;
}

#magnifier img {
    border: 5px solid var(--color-3);
    background: white url('../images/azure-round-loader.gif') no-repeat center center;
    width: 650px;
    height: 400px;
}

#main {
    display: flex;
    justify-content: space-between;
}

#footer {
    background: var(--color-2);
    color: white;
    font-weight: 200;
    padding: 10px;
    text-align: center;
}

