.images-before-after {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

.images-before,
.images-after {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    will-change: width;
}
